@use "./variables" as *;

.contact {
  list-style-type: none;

  &__link {
    color: $font-color;
  }
  &__icon {
    height: 1.5ex;
    width: 1.5rem;
    margin-right: 1rem;
  }
  &__row {
    display: flex;
    align-items: baseline;
  }
}