@use "./variables" as *;

.section {
  background-color: $dark-blue;
  padding-block: 3rem;
  padding-inline: 2rem;
  border-radius: 4rem;
  max-width: 37.5rem;

  &__title {
    font-family: $font-title;
    color: $font-color;
    font-size: 6.4rem;
    font-weight: normal;
  }
  &__text {
    font-family: $font-text;
    color: $font-color;
    font-size: 1.6rem;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__item {
    list-style-type: none;
  }
  &__link {
    color: $font-color;
  }
  &__icon {
    height: 1.5ex;
    width: 1.5rem;
    margin-right: 1rem;
  }
  &__row {
    display: flex;
    align-items: baseline;
  }
  &__link-icon {
    height: 1ex;
    margin-left: 0.5rem;
  }
}
