@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Jomhuria&display=swap");

$font-color: hsl(0, 0%, 100%);
$font-title: "Jomhuria", serif;
$font-text: "JetBrains Mono", monospace;
$grayish-blue: hsl(197, 17%, 21%);
$dark-blue: hsl(196, 29%, 10%);
