@use "./reset" as *;
@use "./variables" as *;
@use "./section" as *;
@use "./hero" as *;
@use "./about" as *;
@use "./skills" as *;
body {
  background-color: $grayish-blue;
  padding: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
