@use "./reset" as *;
@use "./variables" as *;
@use "./section" as *;
@use "./hero" as *;
@use "./about" as *;
@use "./project" as *;
@use "./footer" as *;

body {
  background-color: $grayish-blue;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
}
