@use "./reset" as *;
@use "./variables" as *;
@use "./section" as *;
@use "./hero" as *;
@use "./about" as *;
@use "./project" as *;
@use "./footer" as *;
@use "./header" as *;
@use "./drawer" as *;
@use "./skills" as *;
@use "./contact" as *;

body {
  background-color: $grayish-blue;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
  scroll-padding-top: 3rem;
  margin-top: 10rem;
  align-content: center;
  justify-content: center;
  max-width: max-content;
  margin-inline: auto;
}